.item{
    color: currentColor;
    &:hover{
        color: currentColor;
        text-decoration: none;
    }
    // a{
    //     color: currentColor;
    //     &:hover{
    //         color: currentColor;
    //         text-decoration: none;
    //     }
    // }
}