// menu icon button
@use "sass:math";

$iconWidth: 2rem;

.btn-line-a {
  $paddingTop: 8px;
  color: currentColor;
  border: none;
  background: none;
  padding: 0.75em 0;
  display: inline-flex;
  align-items: center;
  transition: 0.3s;
  border-top: 1px solid rgba(white, 0.2);
  border-radius: 0;
  padding: 0;
  padding-top: $paddingTop;

  .text {
    position: relative;
    display: inline-block;

    &::before {
      z-index: 1;
      content: "";
      position: absolute;
      left: 0;
      top: -$paddingTop - 1;
      width: 100%;
      border-top: 1px solid currentColor;
    }
  }

  .icon {
    display: inline-flex;
  }

  .icon~.text {
    margin-left: 1em;
  }

  .text~.icon {
    margin-left: 1em;
  }

  &:active,
  &:hover {
    color: currentColor;
    background: none;
    box-shadow: none;
    opacity: 0.7;

    &::before {
      transform: rotate(-45deg);
      transform-origin: 100%;
      width: math.div($iconWidth, 2);
    }

    &::after {
      transform: rotate(45deg);
      transform-origin: 100%;
      width: math.div($iconWidth, 2);
    }
  }
}

// mixin
// transparent button with icon
@mixin button-line-a($color) {
  color: $color; // border: 1px solid $color;
  border-color: rgba($color, 0.1);
}

// alternative layout
@each $color,
$value in $theme-colors {
  @if $value==$white {
    .btn-line-a.btn-white {
      @include button-line-a($white);
    }
  }

  @else {
    .btn-line-a.btn-#{""+$color} {
      @include button-line-a($value);
    }
  }
}